$headerColor:#ffa500;
$white:#fff;
$hover: #E21C3F;
$dropDown: #19AA5F;
$plavaBoja: blue;
$greenColor: #19aa5f;

.container {
    width: 1110px;
    margin: auto;
}

.sticky {
    position: fixed;
    top: -13px;
    width: 100%;
}